body {

}

span#paragraph1 {
	margin-left:-10px;
	position:relative;
	left:-40px;
	text-indent:10px;
}

span#paragraph2 {
	margin-left:-10px;
	position:relative;
	left:-25px;

}

span#paragraph3 {
	margin-left:-10px;
	position:relative;
	left:10px;
}

span#paragraph4, span#paragraph5,  span#paragraph6{
	margin-left:-10px;
	position:relative;
	left:20px;
	text-indent:30px;
	display:block;
}

div#subpage_title img {
	display:block;
	margin-left:auto;
	margin-right:auto;
}

div#textbody {
	width:800px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 50px;
}