@CHARSET "UTF-8";
/* Eric Mayer Reset * Tue 15 Jan 2008 * http://meyerweb.com/eric/thoughts/2008/01/15/resetting-again/ */
img{
	margin:0; padding:0;
	border:0; outline:0;
	font-size:100%;
	vertical-align:baseline;
}
body{line-height:1;}
img,fieldset{border: 0px;}
ol,ul{list-style: none;}
q:before,q:after{content:'';}
blockquote,q{quotes:none;}
/* remember to define focus styles! */
:focus{outline:0;}
/* remember to highlight inserts somehow! */
ins{text-decoration:none;}
del{text-decoration:line-through;}
/* tables not need 'cellspacing="0"' and 'cellpadding="0"' in the markup */
table{border-collapse:collapse;border-spacing:0;empty-cells:show;font-size:inherit;font:100%; }
address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal;}
pre,code,kbd,samp,tt{font-family:monospace;*font-size:108%;line-height:100%;}
caption,th{text-align:left;}
q:before,q:after{content:'';}
abbr,acronym {border:0;font-variant:normal;}
sup{vertical-align:text-top;}
sub{vertical-align:text-bottom;}
input,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit;}
input,textarea,select{*font-size:100%;}

/*********************/
html\:abbr, abbr {
  cursor: help;
  font-style: italic;
}
pre {
white-space: pre-wrap; /* css-3 */
white-space: -moz-pre-wrap !important; /* Mozilla, since 1999 */
white-space: -pre-wrap; /* Opera 4-6 */
white-space: -o-pre-wrap; /* Opera 7 */
word-wrap: break-word; /* Internet Explorer 5.5+ */
}
button {overflow:visible;} /* kill padding in IE */



body {
	background-image: url("../images/static/background_orange.gif");
	border: 0;
	margin: 0;
	padding: 0;
}

a {
	border: 0;
	color: transparent;
	border-color: transparent;
	padding: 0;
	margin: 0;
	outline-color: -moz-use-text-color;
	outline-style: none;
	outline-width: 0;
	text-decoration: underline;
}

.clickable a {
	color: blue;
}

a:visited {
	color: white;
}
img {
	z-index: 100;
}

div#main {
	width: 100%;
	position: absolute;
	top: 0;
	background-repeat: repeat-y;
}

#header img {
		margin-left:135px;
		margin-top:20px;
	}

table#centraltable {
	width: 800px;
	margin-left: auto;
	margin-right: auto;
}

div#centerwrapper {
	width: 1012px;
	margin-left: auto;
	margin-right: auto;
	background-image: url("../images/static/main_background.png");
	background-repeat: repeat-y;
	padding-bottom: 100px;
}

div#hires_aboutme {
	background-image: url("../images/static/aboutme.gif");
	background-repeat: no-repeat;
	padding: 43px 0 0 22px;
}

div#hires_aboutme img {
	margin-bottom: 15px;
}

.whitetext {
	font-style: italic;
	color: #ffffff;
}

img#photo {
	position: relative;
	float: left;
}

div#hires_portfolio {
	background-image: url("../images/static/portfolio.gif");
	background-repeat: no-repeat;
	padding: 43px 0 0 20px;
}

div#hires_portfolio img {
	margin-bottom: 15px;
}

div#hires_contacts {
	background-image: url("../images/static/contacts.gif");
	background-repeat: no-repeat;
	padding: 44px 0 0 20px;
	position: relative;
	top:-60px;
}

img#button_links {
	left:-8px;
}

div#hires_contacts img {
	margin-bottom: 15px;
}

div#vensels_left {

}

div#vensels_right {
	position: absolute;
	top: 120px;
	right: 0;
}

.buttons {
	position: relative;
	top: 20px;
	left: 15px;
}

.grids {
	position: relative;
	top: 45px;
	left: 30px;
}

div#bottom_menu {
	margin-top: 40px;
	margin-left: auto;
	margin-right: auto;
}

div#bottom_menu_float {
	margin-top: 40px;
	position: relative;
	float: left;
	margin-left: 40px;
	display: block;
}

img#bitmap_logo {
	margin-left: 45px;
}

div#clickable_menu {
	margin-top: 50px;
	position: relative;
	float: left;
}

div#loadedimage {
	float: right;
	position: relative;
	width: 600px;
	margin-top: 50px;
}

div#portfolio_img_subtitle {
	text-align: left;
}

label {
	display: block;
}

#message {
	margin-left: auto;
	margin-right: auto;
	color: white;
	width:500px;
	font-size: large;
}

ul {
	list-style-type: disc;
}

