body {

}

div#contacts_text {
	margin-top:40px;
}

div#contacts_form input, textarea {
	position:relative;
	float:left;
	clear:both;
}

div#contacts_form label {
	margin-top:25px;
}

#sendmailbutton {
	cursor: pointer;
}

.warn {
	color: red;
}

div#textbody {
	margin-left: auto;
	margin-right: auto;
	width: 800px;
}
